extends layout

block content_main
    div.container
        each post,i in posts
            h3
                a(href="#") #{post.title}
                p
                    small by #{post.name} at #{post.time.minute}
            div !{post.post}