extends common/layout

block content_main
    div.container
        form(method="post" role="form")
            div.from-group
                label 标题
                    input.form-control(type="text" placeholder="文章标题" name="title")
            div.input-group
                p 标签
                input.form-control(type="text" name="tag1")
            div.input-group.pt-10
                input.form-control(type="text" name="tag2")
            div.input-group.pt-10
                input.form-control(type="text" name="tag3")
            div.form-group
                label 正文
                textarea#editor.form-control(rows="9" name="post")
            button.btn.btn-primary(type="submit") 发布
