//
   Created by Administrator on 2014/6/24.

extends common/layout

block content_main
    div.container
        form(method="post" role="form")
            div.form-group
                label 用户名
                    input.form-control(type="text" placeholder="Enter name" name="name")
            div.form-group
                label 密码
                    input.form-control(type="password" placeholder="Password" name="password")
            div.form-group
                label 确认密码
                    input.form-control(type="password" placeholder="Password again" name="password-repeat")
            button.btn.btn-primary(type="submit") 注册