//
   Created by Administrator on 2014/6/23.

nav.navbar.navbar-default(role="navigation")
    div.container
        ul.nav.navbar-nav
            li
                a(href="/") 首页
            li
                a(href="/post") 博文
            li
                a(href="/login") 登录