each comment in post.comments
    section.comments
        article.comment
            header.hd
                span.glyphicon.glyphicon-user.mr-10
                a.mr-10(href="comment.website") #{comment.name}
                span 回复于 #{comment.time}
            div.content !{comment.content}

section.message
    header.hd 留言
    form(method="post" role="form")
        div.input-group
            label.control-label 姓名
                if user
                    input.form-control(type="text" name="name" value="#{user.name}")
                else
                    input.form-control(type="text" name="name")
        div.input-group
            label 邮箱
                input.form-control(type="email" name="email")
        div.input-group
            label 网址
                input.form-control(type="text" name="website")
        textarea.form-control(rows="9" name="content")
        div.form-group
            button.btn.btn-primary(type="submit") 留言

