@charset "utf-8";
html,
body{font-family: "microsoft yahei", sans-serif;font-size: 12px;}
html{background: url(./../images/bg.png) 0 0;}
body{background: none;}
@font-face {
    font-family: 'ALincolnFont';
    src: url(./../fonts/ALincolnFont.ttf);
}

/* global */
::-webkit-scrollbar {width: 6px;height: 5px;}
::-webkit-scrollbar-button {background-color: #ddd;height: 0;width: 0;}
::-webkit-scrollbar-track {background-color: #dedede;}
::-webkit-scrollbar-track-piece {background-color: #ffffff;}
::-webkit-scrollbar-thumb {height: 50px; background-color: #adadad; border-radius: 3px;}
::-webkit-scrollbar-corner {}
::-webkit-resizer {}

.ft-center{text-align: center;}

.ft-lighter{color: #999;}
.ft-normal{color: #333;}
.pt-10{padding-top: 10px;}
.pb-10{padding-bottom: 10px;}
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.glyphicon{color: #dedede;}
.w150{width: 150px !important;}
/* footer */
#footer{background: #262626;margin-top: 20px;}
#footer .top{height: 280px;}
#footer .section{width: 30%;margin-right: 2%;}
#footer h1{color: #fff;font: 20px/2 "Times New Roman", Times, serif;}
#footer .bottom{height: 57px;background: #0f0f0f;}
/* main */
.main{background: #fff;width: 760px;box-shadow: 1px 1px 1px rgba(33,33,33,.2);}
.article{position: relative;}
.main .article{padding: 0 10px 10px 110px;min-height: 200px;}
.main .date{position: absolute;left: 0;top: 0;color: #aaa;width: 60px;padding: 0 20px;}
.date .ico{font-size: 24px;}
.date span{display: block;height: 40px;width: 60px;text-align: center;}
.date .year,
.date .month,
.date .day{font-family: helvetica, arial, freesans, clean, sans-serif;}
.date .year{font-size: 12px;}
.date .month{font-size: 24px;}
.date .day{font-size: 24px;border-bottom: 1px solid #333;color: #444;}

/* side */
.side{width: 360px;}
.side .section{background: #fff;padding: 10px 20px;box-shadow: 1px 1px 1px rgba(33,33,33,.2);}
.side h4{border-bottom: 1px solid #333;display: inline-block;line-height: 1.5;}
.side .cate-list{line-height: 2;color: #999;}
.side .cate-list li{border-bottom: 1px solid #999;}
.avatar{padding: 20px 0;}
.avatar .box{height: 150px;width: 150px;border-radius: 50%;/*border: 5px solid #f2f2f2;*/overflow: hidden;margin: 0 auto;position: relative;}
.avatar .box .info{position: absolute;display: block;background: rgba(255,255,255,.6);text-align: center;height: 150px;width: 150px;overflow: hidden;border-radius: 50%;opacity: 0;left: 50%;top: 50%;margin-left: -75px;margin-top: -75px;cursor: default;
    -webkit-transition: all .1s linear;-webkit-transform-origin: 50% 50%;-webkit-transform: scale(2)}
.avatar .box:hover .info{-webkit-transform: scale(1);opacity: 1;}
.avatar .title{margin-top: 40%;display: inline-block;font-family: "Times New Roman", Times, serif;border-bottom: 1px solid #333;}
.avatar img{border-radius: 50%;}
.search{padding: 0 50px;position: relative;}
.search .s-ico{position: absolute;right: 55px;top: 10px;font-size: 14px;}
/* article */

.article .title a,
.article .title a:hover{color: #333;}
.article .bottom{text-align: right;}
.article .post{font-size: 14px;}
/* comments */
.comments{padding: 10px;}
.comments .content{font-size: 14px;}
.message{padding: 10px;}

/* page */
.page a{display: inline-block;line-height: 2;padding: 0 10px;background: #fff;margin-right: 10px;}








