//
   Created by Administrator on 2014/6/23.

div#footer
    div.container.clf.top
        div.section.fl
            h1.hd ABOUT ME
        div.section.fl
            h1.hd TAG CLOUD
        div.section.fl
            h1.hd RESENT POSTS
    div.bottom
        div.container.clf


