nav.navbar.navbar-default(role="navigation")
    div.container
        ul.nav.navbar-nav
            li
                a(href="/") 首页
            if user
                li
                    a(href="/logout") 登出
                li
                    a(href="/post") 博文
            else
                li
                    a(href="/login") 登录
                li
                    a(href="/reg") 注册

