section.section.category.mb-10
    div.hd.ft-center
        h4.small SEARCH
    div.search
        form(role="form" method="post")
            div.form-group
                input.form-control(type="text")
                span.glyphicon.glyphicon-search.s-ico
                input(style="display: none" type="submit")
